<% layout('./main/layout') %>
    <section id="storySection"
        class="absolute w-full bg-contain {backhround image of userStiry} bg-no-repeat bg-center p-4 h-screen z-50 bg-zinc-600 hidden">
        <div class="flex items-center gap-x-4 w-full ">
            <img id="userimage" class="h-14 w-14 bg-red-500 rounded-full object-cover" src="" alt="user_image">
            <div>
                <p id="userName" class="font-bold text-white"></p>
                <p id="postTime" class="font-semibold text-white"></p>
            </div>
            <svg id="crossBtn" class="w-10 h-10 ml-auto hover:bg-zinc-500 cursor-pointer rounded-full"
                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z"
                        fill="#ffffff"></path>
                </g>
            </svg>
        </div>
    </section>
    <section id="postSection" class="h-screen overflow-auto pb-16 ">
        <div class="border border-black  rounded-xl py-4 mt-2 m-2">
            <h1 class="text-xl font-bold text-center">SnapNest</h1>
        </div>
        <div class="flex gap-2 overflow-x-auto my-4 px-2">
            <a href="/story/save">
                <div
                    class="flex items-center justify-center w-16 p-5 cursor-pointer h-16 rounded-full bg-zinc-700 border border-black">
                    <svg class="h-10 w-10" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <title></title>
                            <g id="Complete">
                                <g data-name="add" id="add-2">
                                    <g>
                                        <line fill="none" stroke="#fdf7f7" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="19" y2="5">
                                        </line>
                                        <line fill="none" stroke="#fdf7f7" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" x1="5" x2="19" y1="12" y2="12">
                                        </line>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </a>
            <% for(let status of statuses ) {%>
            <div class="storys">
                <img id="userStory" class="w-16 h-16 rounded-full object-cover cursor-pointer" src="<%= status.user.photo.path %>" alt="">
                <p id="username" class="hidden"><%= status.user.username %></p>
                <p id="time" class="hidden"><%= status.formattedCreatedAt %></p>
                <img class="hidden" id="userimage" src="<%= status.photo.path %>" alt="user_status_image">
            </div>
           <% }%>
        </div>


        <% for(let post of posts.reverse()) {%>
            <div class="m-2 p-5 border border-black rounded-xl">
                <a href="/user/profile/<%= post.user.username %>">
                <div class="flex text-sm gap-x-3">
                    <img class="h-12 w-12 rounded-full object-cover" loading="lazy" src="<%= post.user.photo.path %>"
                        alt="profile_pic">
                    <div>
                        <p class="font-medium">
                            <%= post.user.username %> <span class="font-normal ml-1 text-zinc-600">
                                    <%= post.formattedCreatedAt %>
                                </span>
                        </p>
                        <p class="text-xs">
                            <%= post.city ? post.city : "Suggest for you" %>
                        </p>
                    </div>
                </div>
                 </a>
                <img class="my-4 w-full mx-auto rounded-xl object-contain" loading="lazy" src="<%= post.photo.path %>"
                    alt="image">
                <div class="flex items-center justify-between mb-4">
                    <!-- like button  -->
                    <svg postId="<%= post._id %>" class="likeButton w-9 h-9 cursor-pointer" viewBox="0 0 24.00 24.00"
                        fill="<%= post.likes.includes(currentUser._id) ? '#eb0000' :'none'%>" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                                stroke="<%= post.likes.includes(currentUser._id) ? '#eb0000' :'#000000'%>" stroke-width="1.056" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </g>
                    </svg>
                    <!-- comment button svg  -->
                    <svg data-id="<%= post._id %>" class="w-8 h-8 cursor-pointer comment-btn" viewBox="0 0 32 32"
                        version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <title>comment-1</title>
                            <desc>Created with Sketch Beta.</desc>
                            <defs> </defs>
                            <g id="Page-1" stroke-width="0.00032" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                <g id="Icon-Set" sketch:type="MSLayerGroup"
                                    transform="translate(-100.000000, -255.000000)" fill="#000000">
                                    <path
                                        d="M116,281 C114.832,281 113.704,280.864 112.62,280.633 L107.912,283.463 L107.975,278.824 C104.366,276.654 102,273.066 102,269 C102,262.373 108.268,257 116,257 C123.732,257 130,262.373 130,269 C130,275.628 123.732,281 116,281 L116,281 Z M116,255 C107.164,255 100,261.269 100,269 C100,273.419 102.345,277.354 106,279.919 L106,287 L113.009,282.747 C113.979,282.907 114.977,283 116,283 C124.836,283 132,276.732 132,269 C132,261.269 124.836,255 116,255 L116,255 Z"
                                        id="comment-1" sketch:type="MSShapeGroup"> </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <!-- saved button  -->
                    <svg class="savedPostBtn w-9 h-9 cursor-pointer" postid='<%= post._id %>' viewBox="0 0 24 24"
                        fill="<%= post.savedPosts.includes(currentUser._id) ? '#00000' : 'none' %>" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M5 6.2C5 5.07989 5 4.51984 5.21799 4.09202C5.40973 3.71569 5.71569 3.40973 6.09202 3.21799C6.51984 3 7.07989 3 8.2 3H15.8C16.9201 3 17.4802 3 17.908 3.21799C18.2843 3.40973 18.5903 3.71569 18.782 4.09202C19 4.51984 19 5.07989 19 6.2V21L12 16L5 21V6.2Z"
                                stroke="#000000" stroke-width="1.2" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <!-- comment sections  -->
                <div class="my-4 comment_div hidden" id="comment-<%= post._id %>">
                    <h2 class="font-semibold">Comments</h2>
                    <!-- form to commmenyt  -->
                    <form class="w-full flex gap-x-3 my-4" action="/comment/<%= post._id %>" method="POST">
                        <img class="h-10 w-10 rounded-full object-cover" src="<%=currentUser.photo.path %>"
                            alt="user_profile">
                        <input class="w-full bg-zinc-200 rounded-md pl-2 focus:outline-none" type="text" name="comment"
                            placeholder="Add a Comment">
                        <button>
                            <svg class="w-8 h-8 cursor-pointer" viewBox="0 0 24.00 24.00" fill="none"
                                xmlns="http://www.w3.org/2000/svg" stroke="#000000"
                                stroke-width="0.00024000000000000003">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                    stroke="#CCCCCC" stroke-width="0.048"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"
                                        fill="#000000"></path>
                                </g>
                            </svg>
                        </button>
                    </form>
                    <!-- comment sections  -->
                   <% for(let comment  of post.comments){ %>
                        <div class="flex items-start justify-start gap-x-4 text-sm mt-2 mb-4 py-2">
                            <img class="h-10 w-10 rounded-full object-cover" src="<%= comment.user.photo.path %>"
                                alt="user_profile">
                            <div>
                                <p class="font-bold">
                                    <%= comment.user.username %><span class="font-normal ml-2 text-zinc-600">
                                        <%= comment.formattedCreatedAt %>
                                        </span>
                                </p>
                                <p>
                                   <%= comment.comment %>
                                </p>
                            </div>
                        </div>
                    <% } %>
                </div>
                <% if(post.description) {%>
                    <p><span class="font-semibold ">
                            <%= post.user.username %>
                        </span>
                        <%= post.description %>
                    </p>
                    <% } %>

            </div>

            <% } %>
    </section>


    <script src="/js/commentHandler.js"></script>
    <script src="/js/likeAndsavedPost.js" ></script>
    <script src="/js/storyHandler.js"></script>